<h1>Twitter Database</h1>
 
<p class="lead">Currently registered users: <strong><%=data%></strong></p>
<p>Last added user: <strong><%=lastestUser%></strong></p>
 
<form method="POST" action="/add_user">
    <input type="text" class="form" name="username" placeholder="Enter New Username">
    <button>Add User</button>
</form>


<form method="POST" action="/add_random_user">
    <button>Add Random User</button>
</form>


